.body {
  margin: 0;
}

.contain {
  background-color: #3030C1;
}

.wrapper {
  margin: auto;
  height: 840px;
  width: 83%;
}

.header {
  padding: 50px 0;
}

.logo {
  width: 180px;
  height: 47px;
  background: no-repeat url('img/Logo.png');
}

.content {
  height: 500px;
  padding: 85px 130px 0 0;
  background: 100% 25% no-repeat url('img/woman.png');
  background-size: 564px 464px;
}

.content__title {
  margin: 0;
  padding-bottom: 35px;
  color: #fff;
  font: 800 45px/55px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.content__subtitle {
  margin: 0;
  padding-bottom: 8px;
  color: #FFCC33;
  font: 800 30px/37px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.content__text {
  margin: 0;
  padding-bottom: 45px;
  color: #fff;
  font: 300 20px/23px 'gilroy-light', arial, helvetica, sans-serif;

}

.content__button {
  font: 800 20px/24px 'montserrat-bold', arial, helvetica, sans-serif;
  padding: 15px 25px;
  text-decoration: none;
  color: #3030C1;
  background: #FFCC33;
}

.main {
  width: 80%;
}

.main__title {
  display: block;
  margin-left: 535px;
  font: 800 40px/50px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.container {
  display: flex;
}

.first-block {
  display: block;
  margin: 30px 0 0 120px;
  width: 380px;
  height: 400px;
  box-shadow: 0 0 30px #C0C0C0;
  background: #FBFBFB;
}

.medal {
  padding: 47px 132px 20px 133px;
  background-size: 115px 115px;
}

.first-block__title {
  margin: 0;
  padding: 0 62px 25px 63px ;
  text-align: center;
  color: #3030C1;
  font: 800 30px/37px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.first-block__subtitle {
  margin: 0;
  padding: 0 74px 65px 75px;
  text-align: center;
  color: #3A3A3A;
  font: 800 20px/25px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.second-block {
  display: block;
  margin: 30px 0 0 20px;
  width: 380px;
  height: 400px;
  box-shadow: 0 0 30px #C0C0C0;
  background: #FBFBFB;
}

.case {
  padding: 47px 132px 20px 133px;
  background-size: 115px 115px;
}

.second-block__title {
  margin: 0;
  padding: 0 34px 12px 33px ;
  text-align: center;
  color: #3030C1;
  font: 800 30px/37px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.second-block__subtitle {
  margin: 0;
  padding: 0 74px 65px 75px;
  text-align: center;
  color: #3A3A3A;
  font: 800 20px/25px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.third-block {
  display: block;
  margin: 30px 0 0 20px;
  width: 380px;
  height: 400px;
  box-shadow: 0 0 30px #C0C0C0;
  background: #FBFBFB;
}

.money {
  padding: 47px 132px 20px 133px;
  background-size: 115px 115px;
}

.third-block__title {
  margin: 0;
  padding: 0 62px 25px 63px ;
  text-align: center;
  color: #3030C1;
  font: 800 30px/37px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.third-block__subtitle {
  margin: 0;
  text-align: center;
  color: #3A3A3A;
  font: 800 20px/25px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.main__caption {
  margin: 0;
  padding: 55px 0 30px 510px;
  font: 800 40px/49px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

p.main__desc {
  margin: 0;
  padding: 0 0 55px 190px;
  font: 300 30px/35px 'gilroy-light', arial, helvetica, sans-serif;
  text-align: center;
}

.apply {
  background-color: #F0FBFF;
  height: 590px;
}

.apply__title {
  margin: 0;
  padding: 70px 290px 50px 290px;
  font: 800 40px/50px 'gilroy-extrabold', arial, helvetica, sans-serif;
}

.name {
  border: none;
  display: block;
  margin: 0 540px 30px 520px;
  padding-left: 28px;
  width: 360px;
  height: 80px;
  font: 300 20px/23px 'gilroy-light', arial, helvetica, sans-serif;
  color: #878787;
  background-color: #fff;

}

.mail {
  display: block;
  border: none;
  margin: 0 540px 100px 520px;
  padding-left: 28px;
  width: 360px;
  height: 80px;
  font: 300 20px/23px 'gilroy-light', arial, helvetica, sans-serif;
  color: #878787;
  background-color: #fff;
}

.apply__button {
  font: 800 20px/24px 'montserrat-bold', arial, helvetica, sans-serif;
  padding: 30px 110px;
  margin: 0 500px 0 520px ;
  text-decoration: none;
  color: black;
  background: #FFCC33;
}

.footer {
  background-color: #00008B;
  height: 120px;
}

.footer__text {
  margin: 0;
  padding: 51px 0 51px 125px;
  font: 400 15px/18px 'roboto-regular', arial, helvetica, sans-serif;
  color: #fff;
}

@media (max-width: 770px ) {
  .body {
    margin: 0;
  }
  
  .wrapper {
    width: 100%;
    height: 595px;
  }

  .header {
    padding: 40px 0 0 30px;
  }

  .logo {
    background-size: 95px 25px;
  }

  .content {
    height: 400px;
    padding: 0 0 0 30px;
    /* padding-left: 30px; */
    background-position: bottom;
    background-size: 260px 213px;
  }

  .content__title {
    padding-bottom: 25px;
    font-size: 25px;
    line-height: 31px;
  }

  .content__subtitle {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 25px;  
}

  .content__text {
    padding-bottom: 25px;
    font-size: 15px;
    line-height: 17px;
  }

  .content__button {
    display: none;
  }

  .main__title {
    margin: 50px 66px 30px 66px;
    font-size: 20px;
    line-height: 25px;
  }

  .container {
    flex-wrap: wrap;
  }

  .first-block {
    flex-basis: 100%;
    margin: 30px 30px 20px 30px;
    width: 260px;
    height: 275px;
  }

  .medal {
    padding: 42px 87px 15px 87px;
    width: 85px;
    height: 85px;
  }
  
  .first-block__title {
    padding: 0 44px 15px 45px ;
    font-size: 20px;
    line-height: 25px;
  }
  
  .first-block__subtitle {
    padding: 0 71px 42px 71px;
    font-size: 10px;
    line-height: 12px;
  }
  
  .second-block {
    flex-basis: 100%;
    margin: 0 30px 20px 30px;
    width: 260px;
    height: 275px;
  }
  
  .case {
    padding: 37px 87px 15px 87px;
    width: 85px;
    height: 85px;
  }
  
  .second-block__title {
    padding: 0 25px 7px 25px ;
    font-size: 20px;
    line-height: 25px;
  }
  
  .second-block__subtitle {
    padding: 0 74px 65px 75px;
    font-size: 10px;
    line-height: 12px;
  }

  .third-block {
    flex-basis: 100%;
    margin: 0 30px 55px 30px;
    width: 260px;
    height: 275px;
  }
  
  .money {
    padding: 42px 88px 15px 86px;
    width: 85px;
    height: 85px;
  }
  
  .third-block__title {
    padding: 0 50px 15px 48px ;
    font-size: 20px;
    line-height: 25px;
  }
  
  .third-block__subtitle {
    padding: 0 70px 42px 65px;
    font-size: 10px;
    line-height: 12px;
  }

  .main__caption {
    padding: 0 0 30px 60px;
    font-size: 20px;
    line-height: 25px;
  }
  
  p.main__desc {
    padding: 0 0 55px 30px;
    font-size: 18px;
    line-height: 21px;
  }
  
  .apply {
    height: 335px;
  }

  .apply__title {
    padding: 45px 0 25px 30px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  
  .name {
    margin: 0 0 15px 30px;
    padding-left: 17px;
    width: 260px;
    height: 45px;
    font-size: 10px;
    line-height: 12px;
    }
  
  .mail {
    margin: 0 0 25px 30px;
    padding-left: 17px;
    width: 260px;
    height: 45px;
    font-size: 10px;
    line-height: 12px;
  }
  
  .apply__button {
    padding: 20px 20px;
    margin: 0 0 45px 30px;
    font-size: 10px;
    line-height: 12px;
  }
  
  .footer {
    background-color: #00008B;
    height: 60px;
  }
  
  .footer__text {
    padding: 24px 0 0 30px;
    font-size: 10px;
    line-height: 12px;
  }
}
